# flyctl launch added from .gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
**/.pnp
**/.pnp.js

# testing
**/coverage

# database
**/**/prisma/db.sqlite
**/**/prisma/db.sqlite-journal

# next.js
**/.next
**/out
**/next-env.d.ts

# expo
**/.expo
**/dist

# production
**/build

# misc
**/.DS_Store
**/*.pem

# debug
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.yarn-debug.log*

# local env files
**/.env
**/.env*.local

# vercel
**/.vercel

# typescript
**/*.tsbuildinfo

# turbo
**/.turbo

# flyctl launch added from apps/fe-mobile/.gitignore
# OSX
#
apps/fe-mobile/**/.DS_Store

# Xcode
#
apps/fe-mobile/**/build
apps/fe-mobile/**/*.pbxuser
!apps/fe-mobile/**/default.pbxuser
apps/fe-mobile/**/*.mode1v3
!apps/fe-mobile/**/default.mode1v3
apps/fe-mobile/**/*.mode2v3
!apps/fe-mobile/**/default.mode2v3
apps/fe-mobile/**/*.perspectivev3
!apps/fe-mobile/**/default.perspectivev3
apps/fe-mobile/**/xcuserdata
apps/fe-mobile/**/*.xccheckout
apps/fe-mobile/**/*.moved-aside
apps/fe-mobile/**/DerivedData
apps/fe-mobile/**/*.hmap
apps/fe-mobile/**/*.ipa
apps/fe-mobile/**/*.xcuserstate
apps/fe-mobile/**/ios/.xcode.env.local

# Android/IntelliJ
#
apps/fe-mobile/**/build
apps/fe-mobile/**/.idea
apps/fe-mobile/**/.gradle
apps/fe-mobile/**/local.properties
apps/fe-mobile/**/*.iml
apps/fe-mobile/**/*.hprof
apps/fe-mobile/**/.cxx
apps/fe-mobile/**/*.keystore
!apps/fe-mobile/**/debug.keystore

# node.js
#
apps/fe-mobile/**/node_modules
apps/fe-mobile/**/npm-debug.log
apps/fe-mobile/**/yarn-error.log

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

apps/fe-mobile/**/**/fastlane/report.xml
apps/fe-mobile/**/**/fastlane/Preview.html
apps/fe-mobile/**/**/fastlane/screenshots
apps/fe-mobile/**/**/fastlane/test_output

# Bundle artifact
apps/fe-mobile/**/*.jsbundle

# Ruby / CocoaPods
apps/fe-mobile/ios/Pods
apps/fe-mobile/vendor/bundle

# Temporary files created by Metro to check the health of the file watcher
apps/fe-mobile/**/.metro-health-check*

# testing
apps/fe-mobile/coverage

# flyctl launch added from node_modules/react-native-webview/windows/.gitignore
## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.
##
## Get latest from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# User-specific files
node_modules/react-native-webview/windows/**/*.rsuser
node_modules/react-native-webview/windows/**/*.suo
node_modules/react-native-webview/windows/**/*.user
node_modules/react-native-webview/windows/**/*.userosscache
node_modules/react-native-webview/windows/**/*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
node_modules/react-native-webview/windows/**/*.userprefs

# Mono auto generated files
node_modules/react-native-webview/windows/**/mono_crash.*

# Build results
node_modules/react-native-webview/windows/**/[Dd]ebug
node_modules/react-native-webview/windows/**/[Dd]ebugPublic
node_modules/react-native-webview/windows/**/[Rr]elease
node_modules/react-native-webview/windows/**/[Rr]eleases
node_modules/react-native-webview/windows/**/x64
node_modules/react-native-webview/windows/**/x86
node_modules/react-native-webview/windows/**/[Aa][Rr][Mm]
node_modules/react-native-webview/windows/**/[Aa][Rr][Mm]64
node_modules/react-native-webview/windows/**/bld
node_modules/react-native-webview/windows/**/[Bb]in
node_modules/react-native-webview/windows/**/[Oo]bj
node_modules/react-native-webview/windows/**/[Ll]og
node_modules/react-native-webview/windows/**/[Ll]ogs

# Visual Studio 2015/2017 cache/options directory
node_modules/react-native-webview/windows/**/.vs
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# Visual Studio 2017 auto generated files
node_modules/react-native-webview/windows/**/Generated\ Files

# MSTest test Results
node_modules/react-native-webview/windows/**/[Tt]est[Rr]esult*
node_modules/react-native-webview/windows/**/[Bb]uild[Ll]og.*

# NUnit
node_modules/react-native-webview/windows/**/*.VisualState.xml
node_modules/react-native-webview/windows/**/TestResult.xml
node_modules/react-native-webview/windows/**/nunit-*.xml

# Build Results of an ATL Project
node_modules/react-native-webview/windows/**/[Dd]ebugPS
node_modules/react-native-webview/windows/**/[Rr]eleasePS
node_modules/react-native-webview/windows/**/dlldata.c

# Benchmark Results
node_modules/react-native-webview/windows/**/BenchmarkDotNet.Artifacts

# .NET Core
node_modules/react-native-webview/windows/**/project.lock.json
node_modules/react-native-webview/windows/**/project.fragment.lock.json
node_modules/react-native-webview/windows/**/artifacts

# StyleCop
node_modules/react-native-webview/windows/**/StyleCopReport.xml

# Files built by Visual Studio
node_modules/react-native-webview/windows/**/*_i.c
node_modules/react-native-webview/windows/**/*_p.c
node_modules/react-native-webview/windows/**/*_h.h
node_modules/react-native-webview/windows/**/*.ilk
node_modules/react-native-webview/windows/**/*.meta
node_modules/react-native-webview/windows/**/*.obj
node_modules/react-native-webview/windows/**/*.iobj
node_modules/react-native-webview/windows/**/*.pch
node_modules/react-native-webview/windows/**/*.pdb
node_modules/react-native-webview/windows/**/*.ipdb
node_modules/react-native-webview/windows/**/*.pgc
node_modules/react-native-webview/windows/**/*.pgd
node_modules/react-native-webview/windows/**/*.rsp
node_modules/react-native-webview/windows/**/*.sbr
node_modules/react-native-webview/windows/**/*.tlb
node_modules/react-native-webview/windows/**/*.tli
node_modules/react-native-webview/windows/**/*.tlh
node_modules/react-native-webview/windows/**/*.tmp
node_modules/react-native-webview/windows/**/*.tmp_proj
node_modules/react-native-webview/windows/**/*_wpftmp.csproj
node_modules/react-native-webview/windows/**/*.log
node_modules/react-native-webview/windows/**/*.vspscc
node_modules/react-native-webview/windows/**/*.vssscc
node_modules/react-native-webview/windows/**/.builds
node_modules/react-native-webview/windows/**/*.pidb
node_modules/react-native-webview/windows/**/*.svclog
node_modules/react-native-webview/windows/**/*.scc

# Chutzpah Test files
node_modules/react-native-webview/windows/**/_Chutzpah*

# Visual C++ cache files
node_modules/react-native-webview/windows/**/ipch
node_modules/react-native-webview/windows/**/*.aps
node_modules/react-native-webview/windows/**/*.ncb
node_modules/react-native-webview/windows/**/*.opendb
node_modules/react-native-webview/windows/**/*.opensdf
node_modules/react-native-webview/windows/**/*.sdf
node_modules/react-native-webview/windows/**/*.cachefile
node_modules/react-native-webview/windows/**/*.VC.db
node_modules/react-native-webview/windows/**/*.VC.VC.opendb

# Visual Studio profiler
node_modules/react-native-webview/windows/**/*.psess
node_modules/react-native-webview/windows/**/*.vsp
node_modules/react-native-webview/windows/**/*.vspx
node_modules/react-native-webview/windows/**/*.sap

# Visual Studio Trace Files
node_modules/react-native-webview/windows/**/*.e2e

# TFS 2012 Local Workspace
node_modules/react-native-webview/windows/**/$tf

# Guidance Automation Toolkit
node_modules/react-native-webview/windows/**/*.gpState

# ReSharper is a .NET coding add-in
node_modules/react-native-webview/windows/**/_ReSharper*
node_modules/react-native-webview/windows/**/*.[Rr]e[Ss]harper
node_modules/react-native-webview/windows/**/*.DotSettings.user

# TeamCity is a build add-in
node_modules/react-native-webview/windows/**/_TeamCity*

# DotCover is a Code Coverage Tool
node_modules/react-native-webview/windows/**/*.dotCover

# AxoCover is a Code Coverage Tool
node_modules/react-native-webview/windows/**/.axoCover/*
!node_modules/react-native-webview/windows/**/.axoCover/settings.json

# Coverlet is a free, cross platform Code Coverage Tool
node_modules/react-native-webview/windows/**/coverage*[.json, .xml, .info]

# Visual Studio code coverage results
node_modules/react-native-webview/windows/**/*.coverage
node_modules/react-native-webview/windows/**/*.coveragexml

# NCrunch
node_modules/react-native-webview/windows/**/_NCrunch_*
node_modules/react-native-webview/windows/**/.*crunch*.local.xml
node_modules/react-native-webview/windows/**/nCrunchTemp_*

# MightyMoose
node_modules/react-native-webview/windows/**/*.mm.*
node_modules/react-native-webview/windows/**/AutoTest.Net

# Web workbench (sass)
node_modules/react-native-webview/windows/**/.sass-cache

# Installshield output folder
node_modules/react-native-webview/windows/**/[Ee]xpress

# DocProject is a documentation generator add-in
node_modules/react-native-webview/windows/**/DocProject/buildhelp
node_modules/react-native-webview/windows/**/DocProject/Help/*.HxT
node_modules/react-native-webview/windows/**/DocProject/Help/*.HxC
node_modules/react-native-webview/windows/**/DocProject/Help/*.hhc
node_modules/react-native-webview/windows/**/DocProject/Help/*.hhk
node_modules/react-native-webview/windows/**/DocProject/Help/*.hhp
node_modules/react-native-webview/windows/**/DocProject/Help/Html2
node_modules/react-native-webview/windows/**/DocProject/Help/html

# Click-Once directory
node_modules/react-native-webview/windows/**/publish

# Publish Web Output
node_modules/react-native-webview/windows/**/*.[Pp]ublish.xml
node_modules/react-native-webview/windows/**/*.azurePubxml
# Note: Comment the next line if you want to checkin your web deploy settings,
# but database connection strings (with potential passwords) will be unencrypted
node_modules/react-native-webview/windows/**/*.pubxml
node_modules/react-native-webview/windows/**/*.publishproj

# Microsoft Azure Web App publish settings. Comment the next line if you want to
# checkin your Azure Web App publish settings, but sensitive information contained
# in these scripts will be unencrypted
node_modules/react-native-webview/windows/**/PublishScripts

# NuGet Packages
node_modules/react-native-webview/windows/**/*.nupkg
# NuGet Symbol Packages
node_modules/react-native-webview/windows/**/*.snupkg
# The packages folder can be ignored because of Package Restore
node_modules/react-native-webview/windows/**/**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!node_modules/react-native-webview/windows/**/**/[Pp]ackages/build
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
node_modules/react-native-webview/windows/**/*.nuget.props
node_modules/react-native-webview/windows/**/*.nuget.targets

# Microsoft Azure Build Output
node_modules/react-native-webview/windows/**/csx
node_modules/react-native-webview/windows/**/*.build.csdef

# Microsoft Azure Emulator
node_modules/react-native-webview/windows/**/ecf
node_modules/react-native-webview/windows/**/rcf

# Windows Store app package directories and files
node_modules/react-native-webview/windows/**/AppPackages
node_modules/react-native-webview/windows/**/BundleArtifacts
node_modules/react-native-webview/windows/**/Package.StoreAssociation.xml
node_modules/react-native-webview/windows/**/_pkginfo.txt
node_modules/react-native-webview/windows/**/*.appx
node_modules/react-native-webview/windows/**/*.appxbundle
node_modules/react-native-webview/windows/**/*.appxupload

# Visual Studio cache files
# files ending in .cache can be ignored
node_modules/react-native-webview/windows/**/*.[Cc]ache
# but keep track of directories ending in .cache
!node_modules/react-native-webview/windows/**/?*.[Cc]ache

# Others
node_modules/react-native-webview/windows/**/ClientBin
node_modules/react-native-webview/windows/**/~$*
node_modules/react-native-webview/windows/**/*~
node_modules/react-native-webview/windows/**/*.dbmdl
node_modules/react-native-webview/windows/**/*.dbproj.schemaview
node_modules/react-native-webview/windows/**/*.jfm
node_modules/react-native-webview/windows/**/*.pfx
node_modules/react-native-webview/windows/**/*.publishsettings
node_modules/react-native-webview/windows/**/orleans.codegen.cs

# Including strong name files can present a security risk
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.snk

# Since there are multiple workflows, uncomment next line to ignore bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_components/

# RIA/Silverlight projects
node_modules/react-native-webview/windows/**/Generated_Code

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
node_modules/react-native-webview/windows/**/_UpgradeReport_Files
node_modules/react-native-webview/windows/**/Backup*
node_modules/react-native-webview/windows/**/UpgradeLog*.XML
node_modules/react-native-webview/windows/**/UpgradeLog*.htm
node_modules/react-native-webview/windows/**/ServiceFabricBackup
node_modules/react-native-webview/windows/**/*.rptproj.bak

# SQL Server files
node_modules/react-native-webview/windows/**/*.mdf
node_modules/react-native-webview/windows/**/*.ldf
node_modules/react-native-webview/windows/**/*.ndf

# Business Intelligence projects
node_modules/react-native-webview/windows/**/*.rdl.data
node_modules/react-native-webview/windows/**/*.bim.layout
node_modules/react-native-webview/windows/**/*.bim_*.settings
node_modules/react-native-webview/windows/**/*.rptproj.rsuser
node_modules/react-native-webview/windows/**/*- [Bb]ackup.rdl
node_modules/react-native-webview/windows/**/*- [Bb]ackup ([0-9]).rdl
node_modules/react-native-webview/windows/**/*- [Bb]ackup ([0-9][0-9]).rdl

# Microsoft Fakes
node_modules/react-native-webview/windows/**/FakesAssemblies

# GhostDoc plugin setting file
node_modules/react-native-webview/windows/**/*.GhostDoc.xml

# Node.js Tools for Visual Studio
node_modules/react-native-webview/windows/**/.ntvs_analysis.dat
node_modules/react-native-webview/windows/**/node_modules

# Visual Studio 6 build log
node_modules/react-native-webview/windows/**/*.plg

# Visual Studio 6 workspace options file
node_modules/react-native-webview/windows/**/*.opt

# Visual Studio 6 auto-generated workspace file (contains which files were open etc.)
node_modules/react-native-webview/windows/**/*.vbw

# Visual Studio LightSwitch build output
node_modules/react-native-webview/windows/**/**/*.HTMLClient/GeneratedArtifacts
node_modules/react-native-webview/windows/**/**/*.DesktopClient/GeneratedArtifacts
node_modules/react-native-webview/windows/**/**/*.DesktopClient/ModelManifest.xml
node_modules/react-native-webview/windows/**/**/*.Server/GeneratedArtifacts
node_modules/react-native-webview/windows/**/**/*.Server/ModelManifest.xml
node_modules/react-native-webview/windows/**/_Pvt_Extensions

# Paket dependency manager
node_modules/react-native-webview/windows/**/.paket/paket.exe
node_modules/react-native-webview/windows/**/paket-files

# FAKE - F# Make
node_modules/react-native-webview/windows/**/.fake

# CodeRush personal settings
node_modules/react-native-webview/windows/**/.cr/personal

# Python Tools for Visual Studio (PTVS)
node_modules/react-native-webview/windows/**/__pycache__
node_modules/react-native-webview/windows/**/*.pyc

#Exclude builds
**/*.apk
**/*.aab

# Cake - Uncomment if you are using it
# tools/**
# !tools/packages.config

# Tabs Studio
node_modules/react-native-webview/windows/**/*.tss

# Telerik's JustMock configuration file
node_modules/react-native-webview/windows/**/*.jmconfig

# BizTalk build output
node_modules/react-native-webview/windows/**/*.btp.cs
node_modules/react-native-webview/windows/**/*.btm.cs
node_modules/react-native-webview/windows/**/*.odx.cs
node_modules/react-native-webview/windows/**/*.xsd.cs

# OpenCover UI analysis results
node_modules/react-native-webview/windows/**/OpenCover

# Azure Stream Analytics local run output
node_modules/react-native-webview/windows/**/ASALocalRun

# MSBuild Binary and Structured Log
node_modules/react-native-webview/windows/**/*.binlog

# NVidia Nsight GPU debugger configuration file
node_modules/react-native-webview/windows/**/*.nvuser

# MFractors (Xamarin productivity tool) working folder
node_modules/react-native-webview/windows/**/.mfractor

# Local History for Visual Studio
node_modules/react-native-webview/windows/**/.localhistory

# BeatPulse healthcheck temp database
node_modules/react-native-webview/windows/**/healthchecksdb

# Backup folder for Package Reference Convert tool in Visual Studio 2017
node_modules/react-native-webview/windows/**/MigrationBackup

# Ionide (cross platform F# VS Code tools) working folder
node_modules/react-native-webview/windows/**/.ionide

# flyctl launch added from node_modules/tailwindcss/stubs/.gitignore
!node_modules/tailwindcss/stubs/**/*
fly.toml
